.recipePreview {
    min-height: 100vh;
    margin: 2%;

    .title {
        margin: 2%;
        font-size: 1.6em;
    }

    .row {
        margin-bottom: 1%;
    }

    .list-group-item {
        width: 20%;
    }

    .comment {
        margin: 0 30% 0;
    }

    .comment-section {
        margin-top: 5%;
    }

    .btn-submit {
        float: right;
        margin: 3% 0;
    }

    .btn-comment-edit{
        width: 35px;
        float: right;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline:none;
    }

    .comment-edit{
        padding-top: 10px;
    }

    .comment-username{
        width: 10%;
        float: left;
        font-size: medium;
    }

    .comment-comment {

    }

    .comment-createdAt {
        font-size: small;
        float: right;
        width: 200px;
    }

    .btnEditMode {
        margin: 1%;
        width: 70px;
    }

}

.comment-section{
    margin-bottom: 2%;
}
.submit-button {
    color: white !important;
}

.my-modal{
    width: 90vw;
    min-width: 90vw;
}
