.recipePreview {
    min-height: 100vh;
    margin: 2%;

    .title {
        margin: 2%;
        font-size: 1.7em;
    }

    .subtitle {
        margin-top: 2%;
        font-size: 1.3em;
    }

    .row {
        margin-bottom: 1%;
    }

    .list-group-item {
        width: 20%;
    }

    .comment {
        margin: 0 30% 0;
    }

    .comment-section {
        margin-top: 3%;
    }

    .btn-submit {
        float: right;
        margin: 3% 0;
    }

    .comment-edit {
        padding-top: 5px;
    }

    .comment-username {
        width: 10%;
        float: left;
        font-size: medium;
    }

    .comment-createdAt {
        font-size: small;
        float: right;
        width: 200px;
    }

    .btnEditMode {
        margin: 2%;
        width: 70px;
    }

    .listElement {
        color: #8367d8;
        font-size: 14pt;
        font-weight: 500;
        font-style: italic;
    }

    .recipeImages {
        overflow: hidden;
        margin: 2%;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 5%;
            box-shadow: 0 8px 6px -6px grey;
        }

        .recipeImagesGrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            margin-top: 10px;

            .landingPagerecipe {
                overflow: hidden;
                img {
                    height: 100px;
                }
            }

            img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
            }

            .landingPagerecipe:hover img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

.comment-section {
    margin-bottom: 2%;
}
.submit-button {
    color: white !important;
}

.my-modal {
    width: 90vw;
    min-width: 90vw;
}

.btn,
.btn-primary {
    color: white !important;
}


.btn-comment-edit {
    width: 35px;
    float: right;
    background-color: white !important;
    color: black !important ;
    background-repeat: no-repeat;
    border: none !important;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.review {
    padding: 25px;

    .commentsTitle {
        margin: 2%;
    }
}
