.home-container {
    margin: 2% 12%;

    #dailyGrid {
        display: flex;
        justify-content: space-between;
        row-gap: 20px;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
    }

    #mostPopularGrid {
        display: flex;
        justify-content: space-between;
        row-gap: 20px;
        margin-top: 20px;
    }

    .headerText {
        font-weight: 500;
        font-size: 20pt;
        margin: 5.5% 5% 2.5%;
        color: $default-purple-color;
    }

    .nextBtn {
        max-height: 50px;
        width: 50px;
        align-self: center;
        margin-left: 1vw;
        border: none;
        font-size: 35px;
        font-weight: bold;
        transition: none;
        background: white;
        color: $default-purple-color;
    }

    .nextBtn:hover {
        background-color: white;
        border: none;
        transition: none;
        color: $text-color;
    }

    .disabled {
        color: lightgray;
    }
}
