#dailyGrid {
    padding-left: 200px;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.3fr;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

#mostPopularGrid {
    padding-left: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 20px;
}

.headerText {
    font-weight: 500;
    font-size: 20pt;
    margin: 2.5% 5% 2.5%;
}

.addRecipe {
    margin-right: 3%;
    width: 50px;
    margin-top: 2%;
}

.nextBtn {
    max-height: 50px;
    width: 50px;
    align-self: center;
    margin-left: 1vw;
}
