.menuContainer {
    font-size: 24px;
    color: $default-purple-color;
    letter-spacing: 0.84px;

    background: #ffffff;

    margin: 1% 12% 2%;

    .navbar {
        padding: 0.5rem 0rem;

        .dropdown-item {
            padding: 0.25rem 10px;
            font-size: 16px;
            color: $text-color;
            letter-spacing: 0.56px;
        }

        .dropdown-menu {
            width: 130px;
            min-width: 0;

            .active {
                background-color: transparent;
                color: $default-purple-color;
                font-weight: bold;
            }
        }

        .show {
            width: 130px !important;
            color: inherit;
        }

        .dropdown-toggle::after {
            display: none;
        }
    }

    .navbar-expand {
        justify-content: space-between;
    }

    .navbar-brand {
        .logo {
            color: $default-purple-color;
            opacity: 1;
        }

        img {
            width: 30px;
            margin-right: 5px;
        }
    }

    .form-inline {
        border: 1px solid $border-color;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.08);
        width: 40%;
        display: flex;

        font-size: 18px;
        color: $base-color;
        letter-spacing: 0.63px;

        .fa,
        .fa-search {
            font-size: 20px;
            margin-top: 7px;
            color: $base-color;
        }

        .form-control {
            width: 90%;
            border: none;
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }

    .navbar-nav {
        font-size: 16px;
        color: $base-color;
        letter-spacing: 0.56px;

        margin-right: 0 !important;

        float: right;
        gap: 8px;
    }

    .nav-link:hover {
        color: rgba(0, 0, 0, 0.6) !important;
    }
}

@media #{$tablet} {
    .menuContainer {
        margin: 0 5%;

        .logo {
            font-size: 18px;
        }
        .form-inline {
            width: 32%;

            .form-control {
                width: 82%;
            }
        }

        .navbar-nav {
            font-size: 14px;
        }
    }
}

@media #{$mobile} {
    .menuContainer {
        margin: 0 5%;

        .navbar {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .form-inline {
            order: 4;
            flex: 1 0 80%;
            margin: 10px auto;

            .form-control {
                width: 90%;
            }
        }

        .logo {
            font-size: 18px;
        }

        .navbar-nav {
            font-weight: lighter;
            font-size: 14px;
        }
    }
}
