.itemCard {

    
    
    .itemImage {
        overflow: hidden;
        img {
            width: 260px;
            height: 260px;
            object-fit: cover;
        }
    }

    .itemName {
        font-size: 24px;
        font-weight: bold;
        color: $base-color;
        letter-spacing: 0.84px;
    }

    .itemDetails {
        display: none;
        margin-top: 10px;
    }

    .itemPrice {
        font-size: 16px;
        letter-spacing: 0.56px;
        color: $base-color;
    }

    .itemButtons button {
        display: none;
        background: #FFFFFF;
        border: 3px solid #ECECEC;
        border-radius: 0;
        width: 100px;
        
        font-size: 15px;
        color: $base-color;
        letter-spacing: 0.52px;
        line-height: 22px;

        .fa {
            color: #ECECEC;
        }
    }

    a:hover {
        text-decoration: none;
    }

    img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    a:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
