@import "components/common/menu.scss";
@import "components/common/recipeCard.scss";
@import "components/common/notFound.scss";

.form-group {
    margin-bottom: 2%;
}

.form-label {
    font-weight: 500;
}

.footerContainer {
    background-color: $base-color;
    border: 1px solid #979797;

    min-height: 200px;
    width: 100%;

    margin-top: 2%;
    padding-top: 2%;

    font-size: 16px;
    color: $border-color;
    letter-spacing: 0.56px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .footerColumn {
        width: 220px;
        text-align: left;
        margin: 0 auto;

        div {
            margin-bottom: 0.7%;

            .footerLink {
                color: $border-color;
            }

            .fa {
                padding: 3px;
                font-size: 13px;
                width: 20px;
                height: 20px;
                text-align: center;
                text-decoration: none;
                margin: 5px 4px;
                border-radius: 50%;
            }

            .fa:hover {
                opacity: 0.7;
            }

            .fa-facebook,
            .fa-twitter,
            .fa-instagram,
            .fa-google-plus {
                background: $border-color;
                color: $base-color;
            }
        }

        div:first-child {
            margin-bottom: 2%;
            opacity: 0.5;
        }
    }
}

@media #{$mobile} {
    .footerContainer {
        grid-template-columns: 1fr;
    }
}

.headerContainer {
    background-color: $base-color;

    height: 40px;
    width: 100%;

    padding: 0 12%;

    display: flex;
    justify-content: space-between;

    font-size: 14px;
    color: $border-color;
    letter-spacing: 0.49px;

    #headerColumnLeft {
        padding-top: 4px;

        .fa {
            padding: 3px;
            font-size: 13px;
            width: 20px;
            height: 20px;
            text-align: center;
            text-decoration: none;
            margin: 5px 4px;
            border-radius: 50%;
        }

        .fa:hover {
            opacity: 0.7;
        }

        .fa-facebook,
        .fa-twitter,
        .fa-instagram,
        .fa-google-plus {
            background: $border-color;
            color: $base-color;
        }
    }

    #headerColumnRight {
        padding-top: 8px;

        .headerLink {
            color: #ffffff;
        }

        .logoutHeader {
            display: flex;

            .imageWrapper {
                margin-right: 15px;
                margin-top: -2px;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                :hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media #{$tablet} {
    .headerContainer {
        padding: 0 5%;
    }
}

@media #{$mobile} {
    .headerContainer {
        padding: 0 5%;
    }
}

.sc-pNWdM,
.eFvVPt {
    width: 200px;
    height: 200px;
}

.my-image-style {
    overflow: hidden;
    width: 200px;
    height: 200px !important;
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.notFoundContainer {
    margin: 5%;
    div {
        .btn {
            background-color: #8367d8;
        }
    }
}

.paginator-wrapper{
    margin-top: 4%;
}
