.formContainer {
    width: 100%;
    background: #ffffff;

    
    font-size: 18px;
    color: $base-color;
    letter-spacing: 0.63px;

    margin: 5% auto;

    div {
        width: 700px;
        margin: 20px auto;
        border: 1px solid $border-color;

        text-align: left;

        .formTitle {
            width: 100%;
            height: 60px;
            background: $light-background-color;
            
            font-weight: bold;
            font-size: 24px;
            color: $base-color;
            letter-spacing: 0.84px;
            text-align: center;
            border: none;
            margin: 0;
            padding: 10px;
        }

        .formBasic {
            margin-bottom: 30px;
            .form-group {
                width: 85%;
                border: none;
                margin: 0 auto;

                .invalid-feedback {
                    margin: 0 auto;
                    border: none;
                    font-size: 12px;
                    width: 100%;
                }

                .form-check {
                    border: none;
                    margin: 30px 0 0 0;
                }

                button {
                    width: 100%;
                    background: $default-purple-color;
                    border: 3px solid $default-purple-color;
                    box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
                    
                    font-weight: bold;
                    font-size: 18px;
                    color: #ffffff;
                    letter-spacing: 0.63px;
                    text-align: center;
                    margin-top: 30px;
                }

                #registerButton {
                    background: #FFFFFF;
                    border: 3px solid $default-purple-color;
                    box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
                    color: $base-color;
                }

                .form-label {
                    margin-bottom: 10px;
                    margin-top: 30px;
                }

                .form-control,
                button {
                    height: 50px;
                }

                p {
                    text-align: center;
                    font-size: 18px;
                    color: $text-color;
                    letter-spacing: 0.63px;
                    margin-top: 25px;

                    .formLink {
                        color: $default-purple-color;
                    }
                }
            }

            .formInfoText {
                width: 85%;
                border: none;
                margin: 20px auto;
            }

            .forgotPassword {
                width: 85%;
                border: none;
                margin: 30px auto;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

@media #{$tablet} {
    .formContainer {
        div {
            width: 500px;
        }
    }
}

@media #{$mobile} {
    .formContainer {
        div {
            width: 90%;
        }
    }
}
