/* Theme colors */
$base-color: #252525;
$text-color: #9B9B9B;
$default-purple-color: #8367D8;
$light-background-color: #FAFAFA;
$border-color: #D8D8D8;

/* Common components style */
body {
    font-family: "Lato", sans-serif;
    .blockedWait {
        cursor: wait;
        .blocked {
            pointer-events: none;
        }
    }
}

/* Device widths */
$tablet: "only screen and (min-width: 600px) and (max-width: 1250px)";
$mobile: "only screen and (min-width: 320px) and (max-width: 600px)";

/* Styles */
@import "react-dropzone-uploader/dist/styles.css";

@import 'components/common/style.scss';
@import 'components/notifications/notificationBell.scss';
@import 'components/login/login.scss';
@import 'components/register/register.scss';

@import 'components/home/home.scss';
@import 'components/browse/browse.scss';

@import 'components/recipe/recipe.scss';
@import 'components/recipe/recipeForm.scss';
