.alertContainer {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    .alert {
        padding-left: 12%;
        .close {
            padding-right: 12%;
        }
    }
}

@media #{$tablet} {
    .alertContainer {
        .alert {
            padding-left: 5%;
            .close {
                padding-right: 5%;
            }
        }
    }
}
